{% extends "base.html" %}
{% block tittle %}Register - IN Rameros{% endblock %}

{% block content %}
    <div class="form-register">
        <form action="" method="post">
            <div class="form-input-container">
                <input type="text" name="id" id="id" placeholder="userNo">
            </div>
            <div class="form-input-container">
                <input type="text" name="full_name" id="full_name" placeholder="Full name">
            </div>
            <div class="form-input-container">
                <input type="text" name="email" id="email" placeholder="Email">
            </div>
            <button type="submit">Add user</button>
        </form>
    </div>
{% endblock %}